$colors: (
  primaryColor: rgb(245, 243, 243),
  secondaryColor: black,
  ternaryColor: gray
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

#container {
  width: 100%;
  display: inline-block;
}

img {
  max-width: 1em;
  max-height: 1em;
}

/** HEADER */

/** NAVIGATION BAR */
.Navbar {
  background-color: color(primaryColor);
  text-align: center;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  // .navBtn {
  //   background-color: none;
  //   border: 2px solid black;
  //   border-radius: 0.2em;
  //   //height: 30%;
  //   padding: 0.5em;
  //   font-size: 100%;
  //   margin: 0.1em;
  //   cursor: pointer;
  //   &:hover {
  //     background-color: black;
  //     color: white;
  //   }
  // }
}

.content {
  text-align: center;
}
