/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

  body {
    font-family: "montserrat";
  }

  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
  }

  .App-header {
    background-color: rgba(0, 0, 0, 0.883);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #09d3ac;
  }

  .glossory-landing-page {
    background-color: #282c34;
    height: 100vh;
    width: 85vw;
  } */
