@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

$colors: (
  primaryColor: rgb(245, 243, 243),
  secondaryColor: black,
  ternaryColor: gray
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  font-family: "montserrat";
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.883);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.glossory-landing-page {
  background-color: #282c34;
  height: 100vh;
  width: 85vw;
}

.accordion {
  width: 70vw !important;
  margin: auto;
  color: black;

  .card-body {
    height: 15vh;
    overflow-y: scroll;
  }
}

// .btn-primary {
//   color: black !important;
//   background-color: White !important;
//   border-color: black !important;
// }
