$colors: (
  primaryColor: rgb(245, 243, 243),
  secondaryColor: black,
  ternaryColor: gray
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

.accordionTab {
  background-color: color(primaryColor);
  width: 85%;
  height: 4vh;
  margin: auto;
  margin-top: 1em;
  border-radius: 0.1em;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
